.total_box {
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative; /* Add position relative to the total_box container */
  }
  
  h2 {
    color: black;
    font-size: larger;
    text-align: center;
  }
  h3{
    color: black;
    text-align: center;
  }
  
  .chart-container {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
  }
  
  .chart-container h2 {
    margin-bottom: 20px;
  }
  
  .chart-container .recharts-legend-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .chart-container .recharts-legend-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
    white-space: nowrap;
  }
  
  .chart-container .recharts-legend-item:last-child {
    margin-right: 0;
  }
  
  .chart-container .recharts-legend-item .recharts-legend-icon {
    width: 10px;
    height: 10px;
    margin-right: 4px;
  }
  
  .chart-container .recharts-legend-item .recharts-legend-item-text {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .chart-container .recharts-legend-wrapper .recharts-default-legend-item-hidden {
    display: none;
  }
  
  .chart-container .recharts-legend-wrapper .recharts-legend-item-tooltip {
    white-space: nowrap;
  }
  
  .button-download {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-download:hover {
    background-color: red;
  }
  